# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
provider-k3s

# Directories of IDEs, vendor
.idea/
vendor/
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.local


